<div th:replace="fragments/head"></div>

<!--begin::Body-->
<style>
    pre {
        overflow: auto;
        word-wrap: normal;
        white-space: pre;
    }

    [ng\:cloak],
    [ng-cloak],
    .ng-cloak {
        display: none !important;
    }

    @media (min-width:992px) {
        .app-container-content {
            padding-left: 10px !important;
            padding-right: 10px !important;
        }


    }

    @media (max-width:991.98px) {
        .app-container-content {
            max-width: none;
            padding-left: 9px !important;
            padding-right: 9px !important;
        }
    }

    .prime-td {
        background-color: #f0f0f0 !important;
        height: 25px !important;
        padding: 0 0 0 10px !important;
        margin: 0 0 0 0 !important;
        vertical-align: middle !important;
        /* border: 1px #727272 solid !important; */
    }
</style>

<body ng-app="MasterManagment" ng-controller="AssetsTypeController" data-kt-name="metronic" id="kt_app_body"
    data-kt-app-layout="dark-sidebar" data-kt-app-header-fixed="true" data-kt-app-sidebar-enabled="true"
    data-kt-app-sidebar-fixed="true" data-kt-app-sidebar-hoverable="true" data-kt-app-sidebar-push-header="true"
    data-kt-app-sidebar-push-toolbar="true" data-kt-app-sidebar-push-footer="true" data-kt-app-toolbar-enabled="true"
    class="app-default">


    <!-- Header content top header codes-->
    <div th:replace="fragments/header"></div>
    <!--end::Header-->


    <!--begin::Wrapper-->
    <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
        <!--begin::sidebar-->
        <div th:replace="fragments/side-bar"></div>
        <!--end::sidebar-->


        <!--begin::Main-->
        <div class="app-main flex-column flex-row-fluid" id="kt_app_main">

            <!--========================== Multiple Views Content ==============================-->

            <!-- // List user view -->
            <div class="d-flex flex-column flex-column-fluid" ng-show="views.list">
                <!--begin::Toolbar-->
                <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
                    <!--begin::Toolbar container-->
                    <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
                        <!--begin::Page title-->
                        <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                            <!--begin::Title-->
                            <h3 class="">
                                <span class="svg-icon svg-icon-muted svg-icon-2hx"><svg width="24" height="24"
                                        viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path opacity="0.3"
                                            d="M20 15H4C2.9 15 2 14.1 2 13V7C2 6.4 2.4 6 3 6H21C21.6 6 22 6.4 22 7V13C22 14.1 21.1 15 20 15ZM13 12H11C10.5 12 10 12.4 10 13V16C10 16.5 10.4 17 11 17H13C13.6 17 14 16.6 14 16V13C14 12.4 13.6 12 13 12Z"
                                            fill="currentColor" />
                                        <path
                                            d="M14 6V5H10V6H8V5C8 3.9 8.9 3 10 3H14C15.1 3 16 3.9 16 5V6H14ZM20 15H14V16C14 16.6 13.5 17 13 17H11C10.5 17 10 16.6 10 16V15H4C3.6 15 3.3 14.9 3 14.7V18C3 19.1 3.9 20 5 20H19C20.1 20 21 19.1 21 18V14.7C20.7 14.9 20.4 15 20 15Z"
                                            fill="currentColor" />
                                    </svg>
                                </span>
                                Assets Type
                            </h3>
                            <!--end::Title-->
                        </div>

                        <div class="card-toolbar flex-row-fluid justify-content-end gap-5" style="text-align:right;">
                            <button sec:authorize="hasAuthority('ADD')" style="float:right;" type="button"
                                class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#add_assets_modal">Add</button>

                            <button sec:authorize="hasAuthority('EXPORT')" style="float:right;" type="button"
                                class="btn btn-light-primary me-3" data-kt-menu-trigger="click"
                                data-kt-menu-placement="bottom-end">Export</button>
                            <!--begin::Menu-->
                            <div sec:authorize="hasAuthority('EXPORT')" id="kt_datatable_example_export_menu"
                                class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-200px py-4"
                                data-kt-menu="true">

                                <!--begin::Menu item-->
                                <div class="menu-item px-3">
                                    <a href="#" class="menu-link px-3" ng-click="exportToExcel('#kt_datatable_example')"
                                        data-kt-export="excel">
                                        Export as Excel
                                    </a>
                                </div>
                            </div>
                            <div id="kt_datatable_example_buttons" class="d-none"></div>

                        </div>
                        <!--end::Page title-->
                    </div>
                    <!--end::Toolbar container-->
                </div>
                <!--end::Toolbar-->

                <div id="kt_app_content" class="app-content flex-column-fluid">

                    <div id="" class="app-container-content container-xxl">

                        <div class="card  card-flush">
                            <div class="card-header border-0">
                                <div class="card-title">
                                    <!--begin::Search-->
                                    <div class="d-flex align-items-center position-relative my-1">
                                        <span class="svg-icon svg-icon-1 position-absolute ms-6">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2"
                                                    rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor">
                                                </rect>
                                                <path
                                                    d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
                                                    fill="currentColor"></path>
                                            </svg>
                                        </span>
                                        <input type="text" data-kt-filter="search" ng-model="searchText"
                                            class="form-control form-control-solid w-250px ps-15"
                                            placeholder="Search Report" />
                                    </div>
                                    <!--end::Search-->
                                    <!--begin::Export buttons-->
                                    <!-- <div id="kt_datatable_example_1_export" class="d-none"></div> -->
                                    <!--end::Export buttons-->
                                </div>

                            </div>
                            <div class="card-body">
                                <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer"
                                    id="kt_datatable_example" datatable="ng" dt-options="vm.dtOptions">
                                    <thead>
                                        <!--begin::Table row-->
                                        <tr style="font-weight: 700 !important;color: black !important;"
                                            class="text-start text-gray-400 fw-bold fs-7 text-uppercase">
                                            <th class="min-w-10px">Sl.</th>
                                            <th class="min-w-100px">Assets Type</th>
                                            <th class="min-w-100px">Description</th>
                                            <th class="min-w-100px">#</th>
                                        </tr>
                                        <!--end::Table row-->
                                    </thead>
                                    <tbody class="fw-semibold text-gray-600">
                                        <tr class="odd" ng-repeat="asset_type in assets_type | filter:searchText">
                                            <td style="width: 10px">{{$index + 1}}</td>
                                            <td>{{asset_type.typeid}}</td>
                                            <td>{{asset_type.type}}</td>

                                            <td>
                                                <div sec:authorize="hasAnyAuthority('ADD', 'EDIT')" class="btn-group"
                                                    dropdown>
                                                    <button type="button"
                                                        class="btn btn-outline-primary dropdown-toggle">
                                                        Action
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li sec:authorize="hasAuthority('EDIT')"><a href="#"
                                                                ng-click="editAssets(asset_type.id)">Edit</a>
                                                        </li>
                                                        <li sec:authorize="hasAuthority('DELETE')"><a href="#"
                                                                ng-click="deleteAssets(asset_type.id)">Delete</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                    <!--end::Content container-->
                </div>
            </div>



            <!--========================== Multiple Views Content ==============================-->

            <!--begin::Footer-->
            <div th:replace="fragments/footer"></div>
            <!--end::Footer-->
        </div>
        <!--end:::Main-->
    </div>
    <!--end::Wrapper-->
    </div>
    <!--end::Page-->
    </div>
    <!--end::App-->




    <!--begin::Scrolltop-->
    <div th:replace="fragments/scroll"></div>
    <!--end::Scrolltop-->

    <!-- ==================Model code content======================= -->
    <div class="modal fade" tabindex="-1" id="add_assets_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Add/Edit Assets</h3>

                    <!--begin::Close-->
                    <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal"
                        aria-label="Close">
                        <span class="svg-icon svg-icon-muted svg-icon-2hx"><svg
                                style="height: 2rem !important;width: 2rem !important;" width="24" height="24"
                                viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.3"
                                    d="M6 19.7C5.7 19.7 5.5 19.6 5.3 19.4C4.9 19 4.9 18.4 5.3 18L18 5.3C18.4 4.9 19 4.9 19.4 5.3C19.8 5.7 19.8 6.29999 19.4 6.69999L6.7 19.4C6.5 19.6 6.3 19.7 6 19.7Z"
                                    fill="currentColor" />
                                <path
                                    d="M18.8 19.7C18.5 19.7 18.3 19.6 18.1 19.4L5.40001 6.69999C5.00001 6.29999 5.00001 5.7 5.40001 5.3C5.80001 4.9 6.40001 4.9 6.80001 5.3L19.5 18C19.9 18.4 19.9 19 19.5 19.4C19.3 19.6 19 19.7 18.8 19.7Z"
                                    fill="currentColor" />
                            </svg>
                        </span>
                    </div>
                    <!--end::Close-->
                </div>

                <form id="kt_ecommerce_settings_general_form" class="form" ng-submit="addSaveAssets()">
                    <div class="modal-body">
                        <div class="row row-cols-1 row-cols-sm-2 rol-cols-md-1 row-cols-lg-2">
                            <div class="col">
                                <div class="fv-row mb-7">
                                    <!--begin::Label-->
                                    <label class="fs-6 fw-semibold form-label mt-3"> <span class="required"><b>Assets
                                                Type</b></span>
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input required type="text" title="Max length of 30 required" maxlength="30"
                                        class="form-control form-control-solid" placeholder="Assets Id" name="name"
                                        ng-model="form.typeid" autocomplete="off" />
                                    <input type="text" hidden class="form-control form-control-solid" name="id"
                                        ng-model="form.id" />
                                    <!--end::Input-->
                                </div>
                            </div>
                            <div class="col">
                                <!--begin::Input group-->
                                <div class="fv-row mb-7">
                                    <!--begin::Label-->
                                    <label class="fs-6 fw-semibold form-label mt-3">
                                        <span class="required"><b>Description</b></span>
                                    </label>
                                    <input required type="text" title="Only Letter and space Allowed"
                                        class="form-control form-control-solid" placeholder="Assets Name" name="name"
                                        ng-model="form.type" autocomplete="off" />
                                </div>
                                <!--end::Input group-->
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- ==================End Model code content=================== -->


    <!--begin::Page Javascript-->
    <script src="private/masterController.js"></script>
    <script>
        "use strict";

        // Class definition
        var KTDatatablesExample = function () {
            // Shared variables
            var table;
            var datatable;

            // Private functions
            var initDatatable = function () {
                // Set date data order
                const tableRows = table.querySelectorAll('tbody tr');

                // tableRows.forEach(row => {
                // 	const dateRow = row.querySelectorAll('td');
                // 	const realDate = moment(dateRow[3].innerHTML, "DD MMM YYYY, LT").format(); // select date from 4th column in table
                // 	dateRow[3].setAttribute('data-order', realDate);
                // });

                // Init datatable --- more info on datatables: https://datatables.net/manual/
                datatable = $(table).DataTable({
                    "info": false,
                    'order': [],
                    'pageLength': 10,
                });
            }

            // Hook export buttons
            var exportButtons = () => {
                const documentTitle = 'Customer Orders Report';
                var buttons = new $.fn.dataTable.Buttons(table, {
                    buttons: [{
                        extend: 'copyHtml5',
                        title: documentTitle
                    },
                    {
                        extend: 'excelHtml5',
                        title: documentTitle
                    },
                    {
                        extend: 'csvHtml5',
                        title: documentTitle
                    },
                    {
                        extend: 'pdfHtml5',
                        title: documentTitle
                    }
                    ]
                }).container().appendTo($('#kt_datatable_example_buttons'));

                // Hook dropdown menu click event to datatable export buttons
                const exportButtons = document.querySelectorAll('#kt_datatable_example_export_menu [data-kt-export]');
                exportButtons.forEach(exportButton => {
                    exportButton.addEventListener('click', e => {
                        e.preventDefault();

                        // Get clicked export value
                        const exportValue = e.target.getAttribute('data-kt-export');
                        console.log(exportValue);
                        const target = document.querySelector('.dt-buttons .buttons-' + exportValue);
                        console.log(target);

                        // Trigger click event on hidden datatable export buttons
                        // target.click();
                    });
                });
            }

            // Search Datatable --- official docs reference: https://datatables.net/reference/api/search()
            var handleSearchDatatable = () => {
                const filterSearch = document.querySelector('[data-kt-filter="search"]');
                filterSearch.addEventListener('keyup', function (e) {
                    datatable.search(e.target.value).draw();
                });
            }

            // Public methods
            return {
                init: function () {
                    table = document.querySelector('#kt_datatable_example');

                    if (!table) {
                        return;
                    }

                    initDatatable();
                    exportButtons();
                    handleSearchDatatable();
                }
            };
        }();

        // On document ready
        KTUtil.onDOMContentLoaded(function () {
            KTDatatablesExample.init();
        });
    </script>
    <!--end::Page Javascript-->

</body>
<!--end::Body-->


</html>